<div id="container">

<form id="new_game_form" method="post" action="/games">
  <input type="text" placeholder="Player1 Screenname" name="game[player1]">
  <input type="text" placeholder="Player2 Screenname" name="game[player2]">
  <button type="submit">Go!!</button>
</form>

</div>
